html, body {
    height: 100%;
    margin: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, p {
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid white;
}
